header{
    text-align: center;
}
.topic{
    height: 250px;
    width: 500px;
    border: 5px groove teal;
    float: left;
    margin-left: 20px;
    overflow: scroll;
    background: thistle;
    border-radius: 10%;

}

/*
*/

.secondline{
    margin-top: 20px;
    border: 5px groove red;
    background: skyblue;
    color: white;
}

.topic h2{
    text-align: center;
}

.topic a{
    text-decoration: none;
}